body {
  background-color: #e9edf5;
}
.btn-danger {
  background-color: #F84F35;
}
#sidebar {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 120px;
  left: 0;
  background-color: #34383c;
  color: #fff;
  height: 100%;
  z-index: 20;
}
.menu-spedizioni {
  margin-top: 40px;
}
.menu-spedizioni.active {
  border-left: 4px solid #3159ad;
}
.menu-spedizioni a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #999999;
}
.menu-spedizioni a:hover {
  text-decoration: none;
  color: #fff;
}
.menu-spedizioni.active a {
  margin-left: -4px;
  color: #fff;
}
.menu-spedizioni i {
  display: block;
  font-size: 2.5em;
  margin-bottom: 5px;
}
#main-tracking {
  position: relative;
  margin-left: 120px;
  padding-top: 40px;
}
#logout {
  float: right;
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.toolbar {
  position: relative;
  padding: 30px 0;
  background-color: #3159ad;
}
.toolbar-title {
  color: #fff;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 21;
  text-align: center;
}
.loader__msg {
  margin-top: 50px;
}
.spdloader {
  background-color: #3159ad;
  color: #fff;
}
.btn {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tr-icon {
  margin-right: 10px;
}
.bread-link {
  color: #ffd940;
}
.bread-link:hover,
.bread-link:focus {
  color: #d9ae00;
}
.trbtn-main {
  color: #fff;
  background-color: #f17a17;
  outline: none;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.trbtn-main:hover {
  background-color: #f2882f;
}
.trbtn-main__br {
  display: block;
}
@media (min-width: 1200px) {
  .trbtn-main__br {
    display: inline-block;
  }
}
.trform__setvalue .trbtn-main {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}
.trwrapper {
  position: relative;
  height: 100%;
  background-color: #3159ad;
}
.upload-form {
  z-index: 10;
  padding-top: 20px;
  text-align: center;
}
.upload-form__icon {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .upload-form {
    width: 50%;
    padding-top: 40px;
  }
}
#userbar {
  position: fixed;
  width: 100%;
  line-height: 40px;
  background-color: #436bbe;
}
.logo_userbar {
  position: absolute;
  margin: 10px 0 0 0;
}
.greeting-message {
  float: left;
  margin: 0 0 0 70px;
}
#messagebar {
  position: fixed;
  width: 100%;
  top: 0px;
  text-align: center;
  display: none;
  color: #fff;
  padding: 20px 0 10px;
  z-index: 11;
  margin-left: 55px;
}
.error-message {
  background-color: #e74c3c;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.success-message {
  background-color: #2ecc71;
}
#spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 10px;
}
.calendario {
  position: fixed;
  left: 0px;
  width: 120px;
  background-color: #2d3033;
  bottom: 0px;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.calendario__title {
  color: #ffd940;
}
.calendario__giorno {
  font-weight: 700;
  font-size: 3em;
}
.calendario__data {
  font-size: 1.4em;
  font-weight: 300;
}
.daterangepicker {
  background-color: #213869;
  padding: 9px;
}
.daterangepicker .btn-success {
  background-color: #f17a17;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 10px;
}
.daterangepicker .btn-default {
  background: none;
  color: #5e81cc;
}
.daterangepicker .calendar-date {
  background-color: #213869;
  border: none;
}
.daterangepicker .calendar-table {
  background: none;
  border: none;
}
.daterangepicker .calendar td {
  color: #fff;
}
.daterangepicker td.off {
  color: #6c7793;
  background: none;
}
.daterangepicker td.in-range {
  background-color: #29437a;
  color: #fff;
}
.daterangepicker td.off.in-range {
  background-color: #29437a;
  color: #6c7793;
}
.daterangepicker .calendar th {
  color: #ffd940;
  font-weight: 300;
}
.daterangepicker td.available:hover {
  background-color: #405a91;
}
.daterangepicker th.next:hover,
.daterangepicker th.prev:hover {
  color: #685402;
  background-color: #ffd940;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  color: #685402;
  background-color: #ffd940;
}
.daterangepicker.opensright:after {
  border-bottom: 6px solid #213869;
}
.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  box-shadow: none;
  text-shadow: none;
  color: #fff;
}
.stato-spedizione {
  background-color: #4269BB;
  text-align: center;
  padding: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.stato-spedizione__label {
  background-color: #325397;
  color: #fff;
  float: left;
  width: 30%;
  padding: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.stato-spedizione__stato {
  display: inline-block;
  background-color: #FFD940;
  color: #51430a;
  width: 70%;
  padding: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.stato-spedizione__consegnata {
  display: inline-block;
  background-color: #FFD940;
  color: #51430a;
  width: 70%;
  padding: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #0B500B;
  background-color: #8FE357;
}
.wiz-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  padding: 40px;
  color: #fff;
}
.wiz-nav .trbtn-wiz {
  position: absolute;
  margin-top: 0;
}
.wiz-nav .trbtn-wiz_next {
  right: 40px;
}
.wiz-nav .trbtn-wiz_prev {
  left: 40px;
}
.wiz-nav__status {
  clear: both;
  display: inline;
  line-height: 41px;
  font-weight: 400;
}
.filter {
  position: relative;
  background-color: #436bbe;
  padding: 5px;
  line-height: 35px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.filter_button {
  padding: 0px;
}
.filter_button .btn {
  color: #fff;
}
.filter-label {
  float: left;
  background-color: #325397;
  color: #fff;
  font-weight: bold;
  margin: 0 5px 0 0;
  padding: 0px 10px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.filter-textfield {
  display: table-cell;
  width: 100%;
  height: 35px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.filter-wrap {
  overflow: hidden;
}
.selfilter {
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selfilter:hover {
  background-color: #4b71c1;
}
.selfilter__value {
  font-weight: bold;
}
.filter-active {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffd940;
  color: #685402;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.filter_button .filter-active {
  text-align: center;
}
.filter-value {
  position: absolute;
  padding: 5px;
  line-height: 35px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-value__label {
  font-weight: 700;
}
.filter_button .filter-value {
  width: 100%;
}
.close-filter-btn {
  position: absolute;
  width: 15%;
  line-height: 45px;
  text-align: center;
  right: 0px;
  cursor: pointer;
  background-color: #ffcf0d;
}
.close-filter-btn:hover {
  background-color: #f3c200;
}
#empty-filter {
  font-weight: 700;
  text-align: center;
  padding: 50px;
  color: #7088af;
  font-size: 2em;
}
#date-filter {
  position: relative;
  background-color: #436bbe;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#date-filter:hover {
  background-color: #4b71c1;
}
#date-filter .caret {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2px;
}
#date-filter i {
  margin-right: 5px;
}
#date-filter #btn-reset {
  display: none;
  position: absolute;
  right: -36px;
  top: 0px;
  font-size: 1.2em;
  background-color: #ffd940;
  color: #685402;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#date-filter #btn-reset:hover {
  background-color: #ffde5a;
}
.transita-table__row {
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.table-clienti {
  text-align: left;
}
.tablewrap {
  margin: 0;
}
.transita-table {
  margin: 2em 0;
  overflow: hidden;
  text-align: center;
}
#table-tit {
  color: #a0aec4;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadee8;
}
.body__item {
  display: block;
  padding: 0px;
  border-top: none !important;
  background-color: #fff;
  border: none;
  padding: 0px !important;
  vertical-align: middle;
}
.body__item:before {
  content: attr(data-th) " ";
  font-weight: bold;
  width: 9.5em;
  display: inline-block;
  color: #fff;
  background-color: #3159ad;
  padding: 10px;
  margin-right: 10px;
}
.body__item:hover {
  background-color: #ffd940;
  color: #8d7100;
}
.floatingHeader {
  position: fixed;
  top: 40px;
  visibility: hidden;
}
.transita-table__body {
  color: #7088af;
}
.head__item {
  text-align: center;
  display: none;
}
.head__item,
.body__item {
  text-align: left;
  padding: 0px;
}
.stato-switch {
  background-color: #D1DAEA;
  width: 210px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.stato-switch__btn {
  position: relative;
  display: inline-block;
  width: 49%;
  z-index: 1;
}
.stato-switch__switcher {
  position: absolute;
  height: 42px;
  width: 90px;
  z-index: 0;
  margin: 4px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.stato-switch_attivo .stato-switch__switcher {
  background-color: #3FB618;
  left: 0px;
}
.stato-switch_disattivo .stato-switch__switcher {
  background-color: #FF0039;
  right: 3px;
}
.stato-switch .btn {
  padding: 15px 0;
}
.stato-switch .wrap {
  position: relative;
}
.stato-switch_disattivo .btn-attivo button {
  color: #9DA9C1;
}
.stato-switch_disattivo .btn-disattivo button {
  color: #fff;
}
.stato-switch_attivo .btn-disattivo button {
  color: #9DA9C1;
}
.stato-switch_attivo .btn-attivo button {
  color: #fff;
}
.cliente-username {
  text-align: left;
  cursor: pointer;
  vertical-align: middle !important;
}
#spedizione .container-fluid {
  clear: both;
}
#spedizione-data {
  padding-top: 30px;
}
#spedizione-data .tipo {
  color: #7088af;
  margin-bottom: 2px;
}
#spedizione-data .data {
  font-size: 2em;
  font-weight: 300;
}
#spedizione-data .row:first-child {
  margin-top: 0px;
}
#spedizione-data .row {
  margin-top: 30px;
}
.tracking {
  background-color: #F17A17;
  margin-top: 30px;
  color: #fff;
  padding-bottom: 30px;
}
.tracking__titolo {
  padding-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}
.tracking-table thead {
  background-color: #c9620c;
}
.tracking-table th {
  border-bottom: 2px solid #c45f0c !important;
}
.tracking-table td {
  border-bottom: 1px solid #e16e0e;
}
.pagination > li > a {
  color: #3159ad;
}
.pagination > li > a:active {
  background-color: #ffcf0d;
  color: #685402;
  border-color: #d9ae00;
}
.pagination > li > a:focus {
  background: #fff;
  color: #3159ad;
  border-color: #ddd;
}
.pagination > .active > a {
  background-color: #ffd940;
  color: #685402;
  border-color: #d9ae00;
}
.pagination > .active > a:hover,
.pagination > .active > a:focus {
  background-color: #ffcf0d;
  color: #685402;
  border-color: #d9ae00;
}
.click_autocomplete {
  position: relative;
}
.angucomplete-holder {
  position: relative;
}
.angucomplete-dropdown {
  position: absolute;
  top: 45px;
  padding: 10px;
  width: 100%;
  color: #fff;
  overflow-y: auto;
  max-height: 200px;
  background-color: #3159ad;
  z-index: 10;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ragsoc-list_addcliente .angucomplete-dropdown {
  background-color: #f17a17;
}
.angucomplete-selected-row {
  cursor: pointer;
  background-color: #3763c1;
}
.ragsoc-list_addcliente .angucomplete-selected-row {
  background-color: #f2882f;
}
.angucomplete-description {
  color: #A6D5FF;
}
.angucomplete-row:first-child {
  margin-top: -10px;
}
.angucomplete-row {
  margin: 0 -10px;
  padding: 10px;
}
.trform__wrapper {
  padding: 30px;
}
.trform__setvalue {
  position: relative;
  background-color: #cdd6e8;
  color: #466299;
  line-height: 23px;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.trform__placeholder {
  color: #7088af;
}
.trform__daticliente {
  background-color: #cdd6e8;
  color: #fff;
  text-align: center;
  padding: 14px 35px 35px;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.trform__daticliente .btn-link {
  color: #fff;
}
.trform__input {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.trform__input.ng-touched.ng-invalid {
  position: relative;
  background-color: #f8c9c4;
  border-color: #e74c3c;
  z-index: 2;
  box-shadow: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.trform__section {
  position: relative;
  background-color: #fff;
  margin: 20px 0;
}
.trform__edit-group {
  margin: 40px 0;
}
.trform__title {
  color: #3159ad;
}
.trform__successmessage {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 60px;
  left: 0px;
  background-color: #3FB618;
  font-size: 1.4em;
}
.trform__errorlabel {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  background-color: #e74c3c;
  z-index: 1;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.succ-close {
  color: #fff;
}
.ragsoc-list {
  margin-top: 20px;
}
.ragsoc-list__item {
  line-height: 41px;
  color: #fff;
}
.ragsoc-list__list {
  background-color: #1E3F82;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ragsoc-list__adder {
  background-color: #284FA2;
  padding: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ragsoc-list__row {
  margin-top: 10px;
}
.ragsoc-list_right {
  position: absolute;
  right: 0px;
}
.ragsoc-list .trform__placeholder {
  color: #fff;
}
.trundo-link {
  color: #466299;
}
.trundo-link:hover {
  color: #8097c5;
}
.daticliente__dato {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: #466299;
}
.daticliente__dato:first-child {
  margin-right: 10px;
}
.daticliente__tipo {
  font-weight: normal;
  font-size: .8em;
  color: #466299;
}
.daticliente__titolo {
  color: #7088af;
}
.actual__username {
  font-size: 1.5em;
}
.trhalf {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  font-size: 1.2em;
}
.trhalf_error {
  background-color: #F84F35;
  color: #fff;
}
.trhalf_success {
  color: #6FEC46;
}
.trhalf__bicon {
  display: block;
  font-size: 5em;
  margin-bottom: .5em;
}
.trhalf__btn {
  font-weight: 700;
  margin-top: 2em;
}
.trhalf__btn_error {
  background-color: #fff;
  color: #F84F35;
}
.trhalf__btn_error:hover {
  background-color: #e6e6e6;
  color: #F84F35;
}
.row_vert {
  display: table;
  width: 100%;
}
.trmodal {
  background-color: #fff;
}
@media (min-width: 1200px) {
  .transita-table__head {
    background-color: #284fa2;
    color: #fff;
    font-weight: normal;
  }
  .transita-table_clienti .transita-table__head {
    text-align: left;
  }
  .head__item {
    border: none !important;
    text-align: left;
    color: #fff;
  }
  .transita-table_spedizioni .head__item {
    text-align: center;
  }
  .head__item_stato {
    text-align: center;
  }
  .tracking {
    position: absolute;
    height: 100%;
    right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .tracking__titolo {
    font-weight: 300;
    margin-bottom: 30px;
  }
  .selfilter {
    min-height: 43px;
  }
  .tablewrap {
    margin-left: -15px;
    margin-right: -15px;
  }
  .tablewrap h1 {
    display: none;
  }
  .transita-table {
    margin-top: 0px;
    text-align: center;
  }
  .transita-table th,
  .body__item {
    display: table-cell;
  }
  .body__item {
    background-color: #e9edf5;
    border-left: none;
    border-right: none;
    vertical-align: middle !important;
    text-align: left !important;
    border-top: 1px solid #dddddd !important;
    padding: 8px !important;
  }
  .body__item:before {
    display: none;
  }
  .transita-table_spedizioni .body__item {
    text-align: center !important;
  }
  .transita-table__row {
    display: table-row;
    border-bottom: none;
    cursor: pointer;
    height: 59px;
  }
  .transita-table__row:hover .body__item {
    background-color: #ffd940;
    border-top: 1px solid #d9ae00 !important;
    border-bottom: 1px solid #d9ae00;
    color: #8d7100;
  }
  .transita-table__row:last-child {
    border-bottom: 1px solid #dddddd;
  }
  .transita-table__head tr:last-child {
    border-bottom: none;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  .trmodal {
    position: fixed;
    width: 500px;
    top: 50px;
    left: 50%;
    margin-left: -190px;
    padding: 20px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .trmodal h3,
  .trmodal h2 {
    margin-top: 0px;
  }
  .trmodal .btn-link {
    color: #333;
  }
  .trmodal .btn-link:hover {
    color: #1a1a1a;
  }
  .trmodal .success {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #3FB618;
    top: 0px;
    color: #fff;
    text-align: center;
    padding: 50px;
  }
}
.spedizione {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spedizione:first-child {
  margin-top: 40px;
}
.spedizione:last-child {
  margin-bottom: 40px;
}
.spedizione_errors {
  cursor: default;
}
.spedizione__section {
  font-weight: 600;
  margin-top: 60px;
}
.spedizione__section_top {
  text-align: center;
}
.spedizione__section:first-child {
  margin-top: 0px;
}
.spedizione__section:last-child {
  margin-bottom: 10px;
}
.spedizione__section_dest {
  margin-top: 40px;
}
.spedizione-item_dest {
  font-size: 2em;
  font-weight: 900;
  text-align: left;
  margin-left: 30px;
}
.spedizione_errors .spedizione-item_dest {
  margin-left: 0px;
}
.spedizione-item_date {
  padding: 15px;
}
.spedizione_errors .spedizione-item_date {
  padding: 0px 15px;
}
.spedizione-item__data {
  display: inline;
}
.spedizione-item_colli {
  width: 35%;
  padding-left: 100px;
}
.spedizione_errors .spedizione-item_colli {
  padding-left: 15px;
}
.spedizione-item_place {
  padding-left: 70px;
}
.spedizione_errors .spedizione-item_place {
  padding-left: 15px;
}
.spedizione-item__errddt {
  font-size: 1.4em;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  float: none;
  width: 50%;
}
.spedizione-item__errddt .spedizione-item__data {
  float: left;
}
.spedizione-item__errstato {
  float: none;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}
.spedizione-item__nr {
  margin: 0 0 20px;
}
.spedizione-icon {
  float: left;
  margin-right: 3px;
}
.spedizione-icon__marker,
.spedizione-icon__label,
.spedizione-icon_top {
  color: #7088AF;
}
.spedizione-icon__marker {
  float: left;
}
.spedizione-icon__marker,
.spedizione-icon_top {
  font-size: 1.4em;
  margin-right: 10px;
}
.spedizione-icon_top {
  float: none;
}
.stato-spedizione_list {
  background: none;
}
.stato-spedizione_list .stato-spedizione__label {
  width: 20%;
  padding: 10px;
  font-size: 1em;
}
.stato-spedizione_list .stato-spedizione__stato {
  width: 80%;
  padding: 10px;
  font-weight: 400;
  font-size: 1em;
}
.spedizione-item__errstato .stato-spedizione_list {
  padding: 0;
}
.errors-list {
  background-color: #F84F35;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.errors-list__caption {
  font-weight: bold;
}
.errors-list__main {
  padding: 15px;
}
.errors-list__btmbutton {
  background-color: #CB3721;
}
.errors-list__btmbutton:hover {
  background-color: #dc4029;
}
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active,
#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active {
  opacity: 0;
}
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave,
#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave {
  opacity: 1;
}
#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #ffd940;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}
#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-top-color: #ffd940;
  border-left-color: #ffd940;
  border-radius: 50%;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}
@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.toolbar {
  background-color: #16336F;
  padding: 6rem 0 2rem 0;
  color: #fff;
}
#userbar {
  position: fixed;
  background-color: #1E3F82;
  color: #fff;
  top: 0px;
  z-index: 9;
}
body {
  background-color: #3159AD;
}
@media (min-width: 992px) {
  #main-tracking {
    margin-left: 0px;
  }
  .spdstate {
    padding: 40px;
  }
  .spedstate_empty,
  .spedstate_notfound {
    background-color: #3159ad;
    text-align: center;
  }
  .spedstate_empty__arrow {
    font-size: 5em;
    color: #7094DE;
  }
  .spedstate_empty .truckicon__truck {
    position: absolute;
    color: #FFD940;
    font-size: 7em;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 75px;
  }
  .spedstate_empty .truckicon__search {
    color: #234894;
    font-size: 20em;
    margin-left: 50px;
  }
  .truckicon {
    position: relative;
  }
  .spdstate__message {
    color: #7094DE;
  }
  .spedstate_notfound .spdstate__message {
    color: #FF6D56;
  }
  .spedstate_notfound .truckicon_truck {
    color: #FF6D56;
    font-size: 8em;
  }
  .spedstate_notfound .truckicon_cross {
    color: #B6331F;
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: 20px;
  }
  .spedizione {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .spedizione:first-child {
    margin-top: 40px;
  }
  .spedizione:last-child {
    margin-bottom: 40px;
  }
  .spedizione:hover {
    background-color: #fffdf3;
  }
  .spedizione__section {
    font-weight: 600;
    margin-top: 60px;
  }
  .spedizione__section_top {
    text-align: center;
  }
  .spedizione__section:first-child {
    margin-top: 0px;
  }
  .spedizione__section:last-child {
    margin-bottom: 10px;
  }
  .spedizione__section_dest {
    margin-top: 40px;
  }
  .spedizione-item_dest {
    font-size: 2em;
    font-weight: 900;
    text-align: left;
    margin-left: 30px;
  }
  .spedizione-item_date {
    padding: 15px;
  }
  .spedizione-item__data {
    display: inline;
  }
  .spedizione-item_colli {
    width: 35%;
    padding-left: 100px;
  }
  .spedizione-item_place {
    padding-left: 70px;
  }
  .spedizione-icon {
    float: left;
    margin-right: 3px;
  }
  .spedizione-icon__marker,
  .spedizione-icon__label,
  .spedizione-icon_top {
    color: #7088AF;
  }
  .spedizione-icon__marker {
    float: left;
  }
  .spedizione-icon__marker,
  .spedizione-icon_top {
    font-size: 1.4em;
    margin-right: 10px;
  }
  .spedizione-icon_top {
    float: none;
  }
  .stato-spedizione_list {
    background: none;
  }
  .stato-spedizione_list .stato-spedizione__label {
    width: 20%;
    padding: 10px;
    font-size: 1em;
  }
  .stato-spedizione_list .stato-spedizione__stato {
    width: 80%;
    padding: 10px;
    font-weight: 400;
    font-size: 1em;
  }
}

/*# sourceMappingURL=cliente.css.map*/