@import "variables.less";
@import "mixins.less";
@import "transitalia.less";

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@value) {
  -webkit-box-shadow: @value;
  -khtml-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}
.user-select(@value){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #e9edf5;
}

.btn-danger{
  background-color: @tr-red;
}

#sidebar {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 120px;
  left: 0;
  background-color: #34383c;
  color: #fff;
  height: 100%;
  z-index: 20;
}

.menu-spedizioni{
  margin-top: 40px;
}

.menu-spedizioni.active {
  border-left: 4px solid @tr-blu;
}

.menu-spedizioni a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: darken(#ffffff, 40%);
}

.menu-spedizioni a:hover {
  text-decoration: none;
  color: #fff;
}

.menu-spedizioni.active a {
  margin-left: -4px;
  color: #fff;
}

.menu-spedizioni i {
  display: block;
  font-size: 2.5em;
  margin-bottom: 5px;
}

#main-tracking {
  position: relative;
  margin-left: 120px;
  padding-top: 40px;
}

#logout {
  float: right;
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.toolbar {
  position: relative;
  padding: 30px 0;
  background-color: @tr-blu;
}

.toolbar-title {
  color: #fff;
}

.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:21;
  text-align: center;
  &__msg{
    margin-top: 50px;
  }
}

.spdloader{
  background-color: @tr-blu;
  color: #fff;
}

.btn{
  .border-radius(3px);
}

.tr-icon{
  margin-right: 10px;
}

.bread-link{
  color: @tr-giallo;
  &:hover, &:focus{
    color: darken(@tr-giallo, 20%);
  }
}

.trbtn-main {
  color: #fff;
  background-color: #f17a17;
  outline: none;
  .border-radius(3px);
  &:hover {
    background-color: lighten(#f17a17, 5%);
  }
  &__br{
    display: block;
    @media (min-width: @screen-lg) {
      display: inline-block;
    }
  }
  .trform__setvalue & {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
  }
}

.trwrapper {
  position: relative;
  height: 100%;
  background-color: @tr-blu;
}

.upload-form {
  z-index: 10;
  padding-top: 20px;
  text-align: center;
  &__icon {
    margin-bottom: 30px;
  }
  @media (min-width: @screen-lg) {
    width: 50%;
    padding-top: 40px;
  }
}

#userbar {
  position: fixed;
  width: 100%;
  line-height: 40px;
  background-color: #436bbe;
}

.logo_userbar{
  position:absolute;
  margin: 10px 0 0 0;
}

.greeting-message {
  float: left;
  margin: 0 0 0 70px;
}

#messagebar {
  position: fixed;
  width: 100%;
  top: 0px;
  text-align: center;
  display: none;
  color: #fff;
  padding: 20px 0 10px;
  z-index: 11;
  margin-left: 55px;
}

.error-message {
  background-color: #e74c3c;
  color: #fff;
  text-align: center;
  .border-radius(5px);
}

.success-message {
  background-color: #2ecc71;
}

#spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 10px;
}

.calendario {
  position: fixed;
  left: 0px;
  width: 120px;
  background-color: #2d3033;
  bottom: 0px;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  &__title {
    color: @tr-giallo;
  }
  &__giorno {
    font-weight: 700;
    font-size: 3em;
  }
  &__data {
    font-size: 1.4em;
    font-weight: 300;
  }
}

.daterangepicker {
  background-color: #213869;
  padding: 9px;
}

.daterangepicker .btn-success {
  background-color: #f17a17;
  .border-radius(3px);
  padding: 10px 10px;
}

.daterangepicker .btn-default {
  background: none;
  color: #5e81cc;
}

.daterangepicker .calendar-date {
  background-color: #213869;
  border: none;
}

.daterangepicker .calendar-table{
  background: none;
  border: none;
}

.daterangepicker .calendar td {
  color: #fff;
}

.daterangepicker td.off {
  color: #6c7793;
  background: none;
}

.daterangepicker td.in-range{
  background-color: #29437a;
  color: #fff;
}

.daterangepicker td.off.in-range{
  background-color: #29437a;
  color: #6c7793;
}


.daterangepicker .calendar th {
  color: @tr-giallo;
  font-weight: 300;
}

.daterangepicker td.available:hover {
  background-color: #405a91;
}

.daterangepicker th.next:hover,
.daterangepicker th.prev:hover {
  color: #685402;
  background-color: @tr-giallo;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  color: #685402;
  background-color: @tr-giallo;
}

.daterangepicker.opensright:after {
  border-bottom: 6px solid #213869;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  box-shadow: none;
  text-shadow: none;
  color: #fff;
}

.stato-spedizione{
  background-color: #4269BB;
  text-align: center;
  padding: 5px;
  .border-radius(5px);

  .statoSpedizione(){
    display: inline-block;
    background-color: #FFD940;
    color: #51430a;
    width: 70%;
    padding: 5px;
    .border-radius(5px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &__label{
    background-color: #325397;
    color: #fff;
    float: left;
    width: 30%;
    padding: 5px;
    .border-radius(5px);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &__stato{
    .statoSpedizione();
  }
  &__consegnata{
    .statoSpedizione();
    color: #0B500B;
    background-color: #8FE357;
  }
}

.wiz-nav{
  @wiz-nav-padding: 40px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  padding: 40px;
  color: #fff;
  .trbtn-wiz {
    position: absolute;
    margin-top: 0;
    &_next{
      right: @wiz-nav-padding;
    }
    &_prev{
      left: @wiz-nav-padding;
    }
  }
  &__status{
    clear: both;
    display: inline;
    line-height: 41px;
    font-weight: 400;
  }
}

.filter {
  position: relative;
  background-color: #436bbe;
  padding: 5px;
  line-height: 35px;
  .border-radius(5px);
  &_button{
    padding: 0px;
    .btn {
      color: #fff;
    }
  }
  &-label {
    float: left;
    background-color: #325397;
    color: #fff;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 0px 10px;
    .border-radius(5px);
  }
  &-textfield {
    display: table-cell;
    width: 100%;
    height: 35px;
    .border-radius(5px);
  }
  &-wrap {
    overflow: hidden;
  }
}

.selfilter{
  color: #fff;
  cursor: pointer;
  .user-select(none);
  &:hover{
    background-color: lighten(#436bbe, 2%);
  }
  &__value{
    font-weight: bold;
  }
}

.filter-active {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: @tr-giallo;
  color: @tr-giallo-fontcolor;
  .border-radius(5px);
  .filter_button & {
    text-align: center;
  }
}

.filter-value {
  position: absolute;
  padding: 5px;
  line-height: 35px;
  user-select: none;
  cursor: default;
  .user-select(none);
  &__label{
    font-weight: 700;
  }
  .filter_button & {
    width: 100%;
  }
}

.close-filter-btn {
  position: absolute;
  width: 15%;
  line-height: 45px;
  text-align: center;
  right: 0px;
  cursor: pointer;
  background-color: darken(@tr-giallo, 10%);
  &:hover {
    background-color: darken(@tr-giallo, 15%);
  }
}

#empty-filter {
  font-weight: 700;
  text-align: center;
  padding: 50px;
  color: #7088af;
  font-size: 2em;
}

#date-filter {
  position: relative;
  background-color: #436bbe;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  .border-radius(5px);
}

#date-filter:hover {
  background-color: lighten(#436bbe, 2%);
}

#date-filter .caret {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2px;
}

#date-filter i {
  margin-right: 5px;
}

#date-filter #btn-reset {
  display: none;
  position: absolute;
  right: -36px;
  top: 0px;
  font-size: 1.2em;
  background-color: @tr-giallo;
  color: @tr-giallo-fontcolor;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#date-filter #btn-reset:hover {
  background-color: lighten(@tr-giallo, 5%);
}

.transita-table__row {
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-touch-callout: none;
  .user-select(none);
  .border-radius(5px);
}

.table-clienti {
  text-align: left;
}

.tablewrap {
  margin: 0;
}

.transita-table {
  margin: 2em 0;
  overflow: hidden;
  text-align: center;
}

#table-tit {
  color: #a0aec4;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadee8;
}

.body__item {
  display: block;
  padding: 0px;
  border-top: none !important;
  background-color: #fff;
  border: none;
  padding: 0px !important;
  vertical-align: middle;
  &:before {
    content: attr(data-th) " ";
    font-weight: bold;
    width: 9.5em;
    display: inline-block;
    color: #fff;
    background-color: #3159ad;
    padding: 10px;
    margin-right: 10px;
  }
  &:hover {
    background-color: @tr-giallo;
    color: darken(@tr-giallo, 35%);
  }
}

.floatingHeader {
  position: fixed;
  top: 40px;
  visibility: hidden;
}

.transita-table__body {
  color: #7088af;
}

.head__item {
  text-align: center;
  display: none;
}

.head__item,
.body__item {
  text-align: left;
  padding: 0px;
}

.stato-switch {
  background-color: #D1DAEA;
  width: 210px;
  .border-radius(8px);
  &__btn{
    position: relative;
    display: inline-block;
    width: 49%;
    z-index: 1;
  }
  &__switcher {
    position: absolute;
    height: 42px;
    width: 90px;
    z-index: 0;
    margin: 4px;
    .border-radius(8px);
    .stato-switch_attivo & {
      background-color: #3FB618;
      left: 0px;
    }
    .stato-switch_disattivo & {
      background-color: #FF0039;
      right: 3px;
    }
  }

  .btn {
    padding: 15px 0;
  }

  .wrap {
    position: relative;
  }
}

.stato-switch_disattivo{
  .btn-attivo button {
    color: #9DA9C1;
  }

  .btn-disattivo button {
    color: #fff;
  }
}

.stato-switch_attivo {
  .btn-disattivo button {
    color: #9DA9C1;
  }
  .btn-attivo button {
    color: #fff;
  }
}

.cliente-username {
  text-align: left;
  cursor: pointer;
  vertical-align: middle !important;
}

#spedizione .container-fluid {
  clear: both;
}

#spedizione-data {
  padding-top: 30px;
}

#spedizione-data .tipo {
  color: #7088af;
  margin-bottom: 2px;
}

#spedizione-data .data {
  font-size: 2em;
  font-weight: 300;
}

#spedizione-data .row:first-child {
  margin-top: 0px;
}

#spedizione-data .row {
  margin-top: 30px;
}

.tracking {
  background-color: #F17A17;
  margin-top: 30px;
  color: #fff;
  padding-bottom: 30px;
  &__titolo {
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
  }
}

.tracking-table {
  thead {
    background-color: darken(#F17A17, 10%);
  }

  th {
    border-bottom: 2px solid darken(#F17A17, 11%) !important;
  }

  td {
    border-bottom: 1px solid darken(#F17A17, 5%);
  }
}

.pagination {
  .focusPagination(){
    background-color: darken(@tr-giallo, 10%);
    color: @tr-giallo-fontcolor;
    border-color: darken(@tr-giallo, 20%);
  }
  & > li {
    & > a {
      color: @tr-blu;
    }
    & > a:active{
      .focusPagination();
    }
    & > a:focus {
      background: #fff;
      color: @tr-blu;
      border-color: #ddd;
    }
  }
  & > .active {
    & > a {
      background-color: @tr-giallo;
      color: @tr-giallo-fontcolor;
      border-color: darken(@tr-giallo, 20%);
    }
    & > a:hover, & > a:focus {
      .focusPagination();
    }
  }
}

.click_autocomplete{
  position: relative;
}

.angucomplete-holder{
  position: relative;
}

.angucomplete{
  &-dropdown{
    position: absolute;
    top: 45px;
    padding: 10px;
    width: 100%;
    color: #fff;
    overflow-y: auto;
    max-height: 200px;
    background-color: @tr-blu;
    z-index: 10;
    .border-radius(3px);
    .ragsoc-list_addcliente & {
      background-color: #f17a17;
    }
  }
  &-selected-row{
    cursor: pointer;
    background-color: lighten(@tr-blu, 5%);
    .ragsoc-list_addcliente & {
      background-color: lighten(#f17a17, 5%);
    }
  }
  &-description{
    color: #A6D5FF;
  }
  &-row:first-child{
    margin-top: -10px;
  }
  &-row{
    margin: 0 -10px;
    padding: 10px;
  }
}

.trform{
  &__wrapper{
    padding: 30px;
  }
  &__setvalue {
    position: relative;
    background-color: darken(#e9edf5, 8%);
    color: darken(#e9edf5, 50%);
    line-height: 23px;
    padding: 10px 20px;
    .border-radius(5px);
  }
  &__placeholder{
    color: #7088af;
  }
  &__daticliente{
    background-color: darken(#e9edf5, 8%);
    color: #fff;
    text-align: center;
    padding: 14px 35px 35px;
    margin-bottom: 30px;
    .border-radius(5px);
    .btn-link{
      color: #fff;
    }
  }
  &__input{
    .border-radius(5px);
    &.ng-touched.ng-invalid {
      position: relative;
      background-color: #f8c9c4;
      border-color: #e74c3c;
      z-index: 2;
      box-shadow: none;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  &__section{
    position: relative;
    background-color: #fff;
    margin: 20px 0;
  }
  &__edit-group{
    margin: 40px 0;
  }
  &__title{
    color: @tr-blu;
  }
  &__successmessage{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 60px;
    left: 0px;
    background-color: @btn-success-bg;
    font-size: 1.4em;
  }
  &__errorlabel{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    background-color: #e74c3c;
    z-index: 1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.succ-close{
  color: #fff;
}

.ragsoc-list{
  margin-top: 20px;
  &__item{
    line-height: 41px;
    color: #fff;
  }
  &__list{
    background-color: @tr-darken-blu;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__adder{
    background-color: #284FA2;
    padding: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__row{
    margin-top: 10px;
  }
  &_right{
    position: absolute;
    right: 0px;
  }
  .trform__placeholder{
    color: #fff;
  }
}

.trundo-link{
  color: #466299;
  &:hover{
    color: lighten(#466299, 20%);
  }
}

.daticliente{
  &__dato{
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    color: #466299;
    &:first-child{
      margin-right: 10px;
    }
  }
  &__tipo{
    font-weight: normal;
    font-size: .8em;
    color: #466299;
  }
  &__titolo{
    color: #7088af;
  }
}

.actual__username{
  font-size: 1.5em;
}

.trhalf{
  height: 100%;
  padding-top: 150px;
  text-align: center;
  font-size: 1.2em;

  &_error{
    background-color: @tr-red;
    color: #fff;
  }

  &_success{
    color: @tr-verde;
  }

  &__bicon{
    display: block;
    font-size: 5em;
    margin-bottom: .5em;
  }
  &__btn{
    font-weight: 700;
    margin-top: 2em;

    &_error{
      background-color: #fff;
      color: @tr-red;
      &:hover{
        background-color: darken(#fff, 10%);
        color: @tr-red;
      }
    }

  }
}

.row_vert{
  display: table;
  width: 100%;
}

.trmodal{
  background-color: #fff;
}

@media (min-width: @screen-lg) {
    .transita-table__head {
      background-color: #284fa2;
      color: #fff;
      font-weight: normal;
      .transita-table_clienti & {
        text-align: left;
      }
    }

    .head__item {
      border: none !important;
      text-align: left;
      color: #fff;
      .transita-table_spedizioni & {
        text-align: center;
      }
      &_stato {
        text-align: center;
      }
    }

    .tracking {
      position: absolute;
      height: 100%;
      right: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
      &__titolo {
        font-weight: 300;
        margin-bottom: 30px;
      }
    }

    .selfilter{
      min-height: 43px;
    }

    .tablewrap {
      margin-left: -15px;
      margin-right: -15px;
    }

    .tablewrap h1 {
      display: none;
    }

    .transita-table {
      margin-top: 0px;
      text-align: center;
    }

    .transita-table th,
    .body__item {
      display: table-cell;
    }

    .body__item {
      background-color: #e9edf5;
      border-left: none;
      border-right: none;
      vertical-align: middle !important;
      text-align: left !important;
      border-top: 1px solid #dddddd !important;
      padding: 8px !important;
      &:before {
        display: none;
      }
      .transita-table_spedizioni & {
        text-align: center !important;
      }
    }

    .transita-table__row {
      display: table-row;
      border-bottom: none;
      cursor: pointer;
      height: 59px;
      &:hover .body__item {
        background-color: @tr-giallo;
        border-top: 1px solid darken(@tr-giallo, 20%) !important;
        border-bottom: 1px solid darken(@tr-giallo, 20%);
        color: darken(@tr-giallo, 35%);
      }
      &:last-child {
        border-bottom: 1px solid #dddddd;
      }
    }

    .transita-table__head tr:last-child{
      border-bottom: none;
    }

    .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      background: rgba(0, 0, 0, .5);
      z-index: 9;
    }

    .trmodal{
      position: fixed;
      width: 500px;
      top: 50px;
      left: 50%;
      margin-left: -190px;
      padding: 20px;
      overflow: hidden;
      .border-radius(5px);
      h3, h2 {
        margin-top:0px;
      }
      .btn-link{
        color: #333;
      }
      .btn-link:hover{
        color: darken(#333, 10%);
      }
      .success{
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        background: @brand-success;
        top: 0px;
        color: #fff;
        text-align: center;
        padding: 50px;
      }
    }
}