body {
  background-color: #e9edf5;
}
.btn-danger {
  background-color: #F84F35;
}
#sidebar {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 120px;
  left: 0;
  background-color: #34383c;
  color: #fff;
  height: 100%;
  z-index: 20;
}
#main-tracking {
  position: relative;
  margin-left: 120px;
  padding-top: 40px;
}
#logout {
  float: right;
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #3159ad;
  z-index: 21;
  text-align: center;
}
.loader__msg {
  margin-top: 100px;
}
.btn {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tr-icon {
  margin-right: 10px;
}
.bread-link {
  color: #ffd940;
}
.bread-link:hover,
.bread-link:focus {
  color: #d9ae00;
}
.trwrapper {
  position: relative;
  height: 100%;
  background-color: #3159ad;
}
#userbar {
  position: fixed;
  width: 100%;
  line-height: 40px;
  background-color: #436bbe;
}
.loadingbar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(67, 107, 190, 0.9);
  z-index: 11;
  text-align: center;
  left: 0px;
  line-height: 121px;
  color: #fff;
}
#spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 10px;
}
.calendario {
  position: fixed;
  right: 0px;
  width: 120px;
  bottom: 0px;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.calendario__title {
  color: #ffd940;
}
.calendario__giorno {
  font-weight: 700;
  font-size: 3em;
}
.calendario__data {
  font-size: 1.4em;
  font-weight: 300;
}
.stato-spedizione {
  background-color: #4269BB;
  text-align: center;
  padding: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.stato-spedizione__label {
  background-color: #325397;
  color: #fff;
  float: left;
  width: 30%;
  padding: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.stato-spedizione__stato {
  display: inline-block;
  background-color: #ffd940;
  color: #51430a;
  width: 70%;
  padding: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.stato-spedizione__consegnata {
  display: inline-block;
  background-color: #ffd940;
  color: #51430a;
  width: 70%;
  padding: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #0B500B;
  background-color: #8FE357;
}
#empty-filter {
  font-weight: 700;
  text-align: center;
  padding: 50px;
  color: #7088af;
  font-size: 2em;
}
.cliente-username {
  cursor: pointer;
}
#spedizione .container-fluid {
  clear: both;
}
#spedizione-data {
  padding-top: 30px;
}
#spedizione-data .tipo {
  color: #7088af;
  margin-bottom: 2px;
}
#spedizione-data .data {
  font-size: 2em;
  font-weight: 300;
}
#spedizione-data .row:first-child {
  margin-top: 0px;
}
#spedizione-data .row {
  margin-top: 30px;
}
#spedizione #tracking {
  background-color: #F17A17;
  margin-top: 30px;
  color: #fff;
  padding-bottom: 30px;
}
#spedizione #tracking .titolo {
  padding-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}
.succ-close {
  color: #fff;
}
.daticliente__dato {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: #466299;
}
.daticliente__dato:first-child {
  margin-right: 10px;
}
.daticliente__tipo {
  font-weight: normal;
  font-size: .8em;
  color: #466299;
}
.daticliente__titolo {
  color: #7088af;
}
.actual__username {
  font-size: 1.5em;
}
#tracking-table thead {
  background-color: #c9620c;
}
#tracking-table thead th {
  border-bottom: 2px solid #c45f0c;
}
#tracking-table td {
  border-bottom: 1px solid #e16e0e;
}
@media (min-width: 1200px) {
  .spedizione__item {
    text-align: center;
  }
  #spedizione #tracking .titolo {
    font-weight: 300;
    margin-bottom: 30px;
  }
  #spedizione #tracking {
    position: absolute;
    height: 100%;
    right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .selfilter {
    min-height: 43px;
  }
}
.toolbar {
  background-color: #16336F;
  color: #fff;
  padding: 65px 0;
}
.toolbar .row {
  display: flex;
  align-items: center;
}
.toolbar .toolbar-title {
  margin: 0;
}
.tracking {
  background-color: #F17A17;
  color: #fff;
  padding-bottom: 30px;
}
.tracking__titolo {
  padding-top: 20px;
  text-align: center;
  font-size: 2em;
  font-weight: 200;
}
.tracking-table thead {
  background-color: #c9620c;
}
.tracking-table th {
  border-bottom: 2px solid #c45f0c !important;
}
.tracking-table td {
  border-bottom: 1px solid #e16e0e;
}
#userbar {
  position: fixed;
  background-color: #1E3F82;
  color: #fff;
  top: 0px;
  z-index: 23;
}
.logo_userbar {
  position: absolute;
  margin: 10px 0 0 0;
}
.greeting-message {
  float: left;
  margin: 0 0 0 70px;
}
body {
  background-color: #3159AD;
}
@media (min-width: 992px) {
  #main-tracking {
    margin-left: 0px;
  }
  .spdstate {
    padding: 40px;
  }
  .spedstate_empty,
  .spedstate_notfound {
    background-color: #3159ad;
    text-align: center;
  }
  .spedstate_empty__arrow {
    font-size: 5em;
    color: #7094DE;
  }
  .spedstate_empty .truckicon__truck {
    position: absolute;
    color: #FFD940;
    font-size: 7em;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 75px;
  }
  .spedstate_empty .truckicon__search {
    color: #234894;
    font-size: 20em;
    margin-left: 50px;
  }
  .truckicon {
    position: relative;
  }
  .spdstate__message {
    color: #7094DE;
  }
  .spedstate_notfound .spdstate__message {
    color: #FF6D56;
  }
  .spedstate_notfound .truckicon_truck {
    color: #FF6D56;
    font-size: 8em;
  }
  .spedstate_notfound .truckicon_cross {
    color: #B6331F;
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: 20px;
  }
  .spedizione {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .spedizione:first-child {
    margin-top: 40px;
  }
  .spedizione:last-child {
    margin-bottom: 40px;
  }
  .spedizione:hover {
    background-color: #fffdf3;
  }
  .spedizione__section {
    font-weight: 600;
    margin-top: 60px;
  }
  .spedizione__section_top {
    text-align: center;
  }
  .spedizione__section:first-child {
    margin-top: 0px;
  }
  .spedizione__section:last-child {
    margin-bottom: 10px;
  }
  .spedizione__section_dest {
    margin-top: 40px;
  }
  .spedizione-item_dest {
    font-size: 2em;
    font-weight: 900;
    text-align: left;
    margin-left: 30px;
  }
  .spedizione-item_date {
    padding: 15px;
  }
  .spedizione-item__data {
    display: inline;
  }
  .spedizione-item_colli {
    width: 35%;
    padding-left: 100px;
  }
  .spedizione-item_place {
    padding-left: 70px;
  }
  .spedizione-icon {
    float: left;
    margin-right: 3px;
  }
  .spedizione-icon__marker,
  .spedizione-icon__label,
  .spedizione-icon_top {
    color: #7088AF;
  }
  .spedizione-icon__marker {
    float: left;
  }
  .spedizione-icon__marker,
  .spedizione-icon_top {
    font-size: 1.4em;
    margin-right: 10px;
  }
  .spedizione-icon_top {
    float: none;
  }
  .stato-spedizione_list {
    background: none;
  }
  .stato-spedizione_list .stato-spedizione__label {
    width: 20%;
    padding: 10px;
    font-size: 1em;
  }
  .stato-spedizione_list .stato-spedizione__stato {
    width: 80%;
    padding: 10px;
    font-weight: 400;
    font-size: 1em;
  }
}
.spedizione {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spedizione:first-child {
  margin-top: 40px;
}
.spedizione:last-child {
  margin-bottom: 40px;
}
.spedizione_errors {
  cursor: default;
}
.spedizione__section {
  font-weight: 600;
  margin-top: 60px;
}
.spedizione__section_top {
  text-align: center;
}
.spedizione__section:first-child {
  margin-top: 0px;
}
.spedizione__section:last-child {
  margin-bottom: 10px;
}
.spedizione__section_dest {
  margin-top: 40px;
}
.spedizione-item_dest {
  font-size: 2em;
  font-weight: 900;
  text-align: left;
  margin-left: 30px;
}
.spedizione_errors .spedizione-item_dest {
  margin-left: 0px;
}
.spedizione-item_date {
  padding: 15px;
}
.spedizione_errors .spedizione-item_date {
  padding: 0px 15px;
}
.spedizione-item__data {
  display: inline;
}
.spedizione-item_colli {
  width: 35%;
  padding-left: 100px;
}
.spedizione_errors .spedizione-item_colli {
  padding-left: 15px;
}
.spedizione-item_place {
  padding-left: 70px;
}
.spedizione_errors .spedizione-item_place {
  padding-left: 15px;
}
.spedizione-item__errddt {
  font-size: 1.4em;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  float: none;
  width: 50%;
}
.spedizione-item__errddt .spedizione-item__data {
  float: left;
}
.spedizione-item__errstato {
  float: none;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}
.spedizione-item__nr {
  margin: 0 0 20px;
}
.spedizione-icon {
  float: left;
  margin-right: 3px;
}
.spedizione-icon__marker,
.spedizione-icon__label,
.spedizione-icon_top {
  color: #7088AF;
}
.spedizione-icon__marker {
  float: left;
}
.spedizione-icon__marker,
.spedizione-icon_top {
  font-size: 1.4em;
  margin-right: 10px;
}
.spedizione-icon_top {
  float: none;
}
.stato-spedizione_list {
  background: none;
}
.stato-spedizione_list .stato-spedizione__label {
  width: 20%;
  padding: 10px;
  font-size: 1em;
}
.stato-spedizione_list .stato-spedizione__stato {
  width: 80%;
  padding: 10px;
  font-weight: 400;
  font-size: 1em;
}
.spedizione-item__errstato .stato-spedizione_list {
  padding: 0;
}
.errors-list {
  background-color: #F84F35;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.errors-list__caption {
  font-weight: bold;
}
.errors-list__main {
  padding: 15px;
}
.errors-list__btmbutton {
  background-color: #CB3721;
}
.errors-list__btmbutton:hover {
  background-color: #dc4029;
}
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active,
#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active {
  opacity: 0;
}
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave,
#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave {
  opacity: 1;
}
#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #ffd940;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}
#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-top-color: #ffd940;
  border-left-color: #ffd940;
  border-radius: 50%;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}
@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=transitasearch.css.map*/