/**
	Bootstrap
**/
body,
html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url(../images/hmbck.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  position: relative;
}
header .logo {
  padding: 20px;
}
.main-menu .menu,
.main-menu .language-menu {
  display: none;
}
.language-menu {
  position: absolute;
  right: 0px;
}
.menu-btn-home {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 45px 50px;
  color: #fff;
}
#overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
#home-payoff {
  color: #fff;
  background: none;
  text-align: center;
}
.navbar-home {
  background: none !important;
  border: none !important;
}
@media (min-width: 992px) {
  header {
    position: absolute;
    padding: 20px;
    width: 100%;
    z-index: 10;
  }
  .main-menu .menu,
  .main-menu .language-menu {
    display: block;
  }
  header .logo {
    position: absolute;
    top: auto;
    left: auto;
    margin-left: auto;
    padding: 0;
  }
  .main-menu {
    margin-left: 56px;
  }
  .menu-btn-home {
    display: none;
  }
  #home-payoff {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -254px;
    margin-top: -87.5px;
    font-size: 5em;
    padding: 0;
  }
}
