/**
	Bootstrap
**/
.logo {
  position: relative;
  padding: 20px;
  z-index: 0;
}
.pane-mask {
  position: relative;
  background-color: #3159ad;
  background-color: rgba(49, 89, 173, 0.6);
}
.menu-inner {
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 0;
  text-align: center;
  background-color: rgba(44, 54, 75, 0.98);
  opacity: 0;
  transition: opacity 0s, opacity 0.5s linear;
}
.menu-inner .menu {
  margin-top: 120px;
}
.menu-inner .menu li {
  float: none;
}
.menu-inner .menu li a {
  display: inline-block;
  width: 100%;
}
.menu-inner .menu li a.btn {
  width: auto;
}
.menu-inner.visible {
  opacity: 1;
  left: 0px;
  height: 100%;
}
.menu-inner.not-visible {
  opacity: 0;
}
.menu-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 45px 50px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  z-index: 0;
}
.menu-close {
  position: absolute;
  right: 0px;
  color: #fff;
  padding: 45px 50px !important;
}
.right-pane {
  background: #fff;
  padding: 10px 20px;
}
.left-pane {
  color: #fff;
  text-align: left;
  padding: 10px 20px;
}
@media (min-width: 992px) {
  body {
    overflow: hidden;
  }
  .menu-btn {
    position: absolute;
    left: 0px;
    right: auto;
    padding: 45px 50px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    z-index: 9;
  }
  .menu-btn:hover {
    background-color: #52648b;
  }
  .menu-btn.active {
    background-color: #2C364B;
  }
  .menu-btn.active:hover {
    background-color: #35425b;
  }
  .menu-close {
    display: none !important;
  }
  #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 170px 50px 0 0;
  }
  .left-pane-contatti #overlay {
    padding: 130px 50px 0 0;
  }
  .logo {
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: 10px;
    z-index: 8;
    padding: 0;
    transition: transform 600ms ease-in;
  }
  .contatti-pane-mask .logo {
    left: 45%;
  }
  .logo.out-animate {
    transform: translateY(-200px);
    top: 10px;
  }
  .logo.in-animate {
    transform: translateY(240px);
    top: -200px;
    left: -125px;
  }
  .logo.out-menu-animate {
    transform: translateY(-200px);
    top: 10px;
    left: -125px;
  }
  .logo.reset-animate {
    transform: translateY(210px);
    top: -200px;
    left: 50%;
    margin-left: -28px;
  }
  .pane-title {
    font-size: 4.5em;
  }
  .left-pane {
    position: absolute;
    width: 50%;
    height: 100%;
    color: #fff;
    text-align: right;
    overflow: hidden;
  }
  .right-pane {
    position: absolute;
    padding: 50px 90px;
    font-size: 1.4em;
    color: #31353E;
    width: 50%;
    height: 100%;
    margin-left: 50%;
    overflow-y: auto;
  }
  .menu-inner .menu {
    margin-top: 20px;
  }
  .menu-main {
    width: 250px;
    height: 100%;
    margin-left: -250px;
    text-align: center;
  }
  .menu-inner .menu li {
    float: left;
    display: block;
    width: 100%;
  }
  .menu-inner .menu li:first-child {
    margin-top: 150px;
  }
  .right-pane-contatti {
    padding: 0px;
  }
  #business-info {
    margin-top: 50px;
    font-size: 1.4em;
  }
  .contact_info {
    color: #ffd940;
  }
  .contact_info:hover {
    color: #ffcf0d;
  }
}
