.form-control {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-login {
  background-color: #ffd940;
  color: #685402;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 400;
}
.btn-login:hover,
.btn-loginbtn-login:focus {
  background-color: #ffcf0d;
  color: #685402;
}
.login-form__column_right .btn-login:hover {
  background-color: #4f4002;
}
.login-form__column_right .btn-login:focus {
  background-color: #4f4002;
}
body {
  color: #fff;
  background-color: #E9EDF5;
}
@media (min-width: 992px) {
  #overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  .content {
    position: absolute;
    text-align: right;
    right: 80px;
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
  }
  .login-form {
    position: absolute;
    width: 70%;
    border-radius: 8px;
    overflow: hidden;
    height: 500px;
    left: 50%;
    top: 150px;
    margin-left: -35%;
    -moz-box-shadow: 0px 0px 7px 2px #ccc;
    -webkit-box-shadow: 0px 0px 7px 2px #ccc;
    box-shadow: 0px 0px 7px 2px #ccc;
  }
  .login-form__title {
    margin-top: 0px;
  }
  .login-form__column_right .login-form__title {
    text-align: right;
  }
  .login-form__column_left .login-form__title {
    text-align: center;
  }
  .login-form__sub {
    margin-bottom: 56px;
  }
  .login-form__column_left .login-form__sub {
    padding: 0 40px;
    margin: 56px 0;
    text-align: center;
  }
  .login-form__column_right .login-form__sub {
    text-align: right;
    margin-top: 30px;
  }
  .login-form__column {
    height: 100%;
  }
  .login-form__column_left {
    background-color: #3159ad;
    width: 60%;
    padding: 30px 100px;
  }
  .login-form__column_right {
    width: 40%;
    background-color: #ffd940;
    padding: 30px 50px;
    color: #685402;
  }
  .btn-login {
    margin-top: 20px;
    padding: 10px 50px;
  }
  .login-form__column_right .btn-login {
    background-color: #685402;
    color: #ffd940;
  }
}
