/**
	Bootstrap
**/
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  float: left;
  line-height: 90px;
  padding: 0 20px;
}
.menu li a {
  color: #fff;
  font-weight: 800;
}
.home-link {
  position: absolute;
  text-indent: -9000px;
}
.language-menu .menu {
  float: right;
}
.language-menu .menu li:first-child {
  padding: 0 20px;
}
.language-menu .menu li:first-child a {
  border-right: 1px solid #fff;
}
.language-menu .menu li {
  padding: 0px;
}
.language-menu .menu a {
  padding: 0 20px 0 0;
}
.pane-mask {
  width: 100%;
  height: 100%;
  overflow: visible;
  transition: transform 600ms ease 0s;
}
@media (min-width: 992px) {
  .pane-mask {
    position: absolute;
  }
  .pane-mask.animate {
    transform: translate(250px, 0);
  }
}
