/**
	Bootstrap
**/
@media (min-width: 992px) {
  .lista-servizi {
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
  }
  .servizio {
    margin-bottom: 50px;
  }
  .nome-servizio {
    font-size: 1.3em;
    font-weight: 700;
    color: #3159ad;
  }
  .contenuto {
    margin: 40px 0;
  }
}
