@import "variables.less";
@import "mixins.less";
@import "transitalia.less";

.border-radius(@radius) {
  -webkit-border-radius: @radius;
   -khtml-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box-shadow(@value) {
  -webkit-box-shadow: @value;
   -khtml-box-shadow: @value;
     -moz-box-shadow: @value;
          box-shadow: @value;
}

.toolbar {
  background-color: #16336F;
  color: #fff;
  padding: 65px 0;

  .row {
    display: flex;
    align-items: center;
  }

  .toolbar-title {
    margin: 0;
  }
}

.tracking {
  background-color: #F17A17;
  color: #fff;
  padding-bottom: 30px;
  &__titolo {
    padding-top: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: 200;
  }
}

.tracking-table {
  thead {
    background-color: darken(#F17A17, 10%);
  }

  th {
    border-bottom: 2px solid darken(#F17A17, 11%) !important;
  }

  td {
    border-bottom: 1px solid darken(#F17A17, 5%);
  }
}

#userbar{
  position:fixed;
  background-color: #1E3F82;
  color: #fff;
  top: 0px;
  z-index: 23;
}

.logo_userbar{
  position:absolute;
  margin: 10px 0 0 0;
}

.greeting-message{
  float: left;
  margin: 0 0 0 70px;
}

body{
  background-color: #3159AD;
}

@media (min-width: @screen-md) {
  #main-tracking{
    margin-left: 0px;
  }

  .spdstate{
    padding: 40px;
  }

  .spedstate_empty, .spedstate_notfound{
    background-color: #3159ad;
    text-align: center;
  }

  .spedstate_empty{
    &__arrow{
      font-size: 5em;
      color: #7094DE;
    }
    .truckicon{
      &__truck{
        position: absolute;
        color: #FFD940;
        font-size: 7em;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 75px;
      }
      &__search{
        color: #234894;
        font-size: 20em;
        margin-left: 50px;
      }
    }
  }

  .truckicon{
    position: relative;
  }

  .spdstate__message{
    color: #7094DE;
  }

  .spedstate_notfound{
    .spdstate__message{
      color: #FF6D56;
    }
    .truckicon_truck{
      color: #FF6D56;
      font-size: 8em;
    }
    .truckicon_cross{
      color: #B6331F;
      font-size: 4em;
      position: absolute;
      left: 50%;
      top: 20px;
    }
  }

  .spedizione{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:first-child{
      margin-top: 40px;
    }
    &:last-child{
      margin-bottom: 40px;
    }
    &:hover{
      background-color: lighten(@tr-giallo, 35%);
    }
  }

  .spedizione__section{
    font-weight: 600;
    margin-top: 60px;
    &_top{
      text-align: center;
    }
    &:first-child{
      margin-top: 0px;
    }
    &:last-child{
      margin-bottom: 10px;
    }
    &_dest{
      margin-top: 40px;
    }
  }

  .spedizione-item{
    &_dest{
      font-size: 2em;
      font-weight: 900;
      text-align: left;
      margin-left: 30px;
    }
    &_date{
      padding: 15px;
    }
    &__data{
      display: inline;
    }
    &_colli{
      width: 35%;
      padding-left: 100px;
    }
    &_place{
      padding-left: 70px;
    }
  }

  .spedizione-icon{
    float: left;
    margin-right: 3px;
    &__marker, &__label, &_top{
      color: #7088AF;
    }
    &__marker{
      float: left;
    }
    &__marker, &_top{
      font-size: 1.4em;
      margin-right: 10px;
    }
    &_top{
      float: none;
    }
  }

  .spedizione:hover{

  }

  .stato-spedizione_list{
    background: none;
    .stato-spedizione__label{
      width: 20%;
      padding: 10px;
      font-size: 1em;
    }
    .stato-spedizione__stato{
      width: 80%;
      padding: 10px;
      font-weight: 400;
      font-size: 1em;
    }
  }
}