@import "variables.less";
@import "mixins.less";
@import "transitalia.less";

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@value) {
  -webkit-box-shadow: @value;
  -khtml-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

body {
  background-color: #e9edf5;
}

.btn-danger{
  background-color: @tr-red;
}

#sidebar {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 120px;
  left: 0;
  background-color: #34383c;
  color: #fff;
  height: 100%;
  z-index: 20;
}

#main-tracking {
  position: relative;
  margin-left: 120px;
  padding-top: 40px;
}

#logout {
  float: right;
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: @tr-blu;
  z-index:21;
  text-align: center;
  &__msg{
    margin-top: 100px;
  }
}

.btn{
  .border-radius(3px);
}

.tr-icon{
  margin-right: 10px;
}

.bread-link{
  color: @tr-giallo;
  &:hover, &:focus{
    color: darken(@tr-giallo, 20%);
  }
}

.trwrapper {
  position: relative;
  height: 100%;
  background-color: @tr-blu;
}

#userbar {
  position: fixed;
  width: 100%;
  line-height: 40px;
  background-color: #436bbe;
}

.loadingbar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(67, 107, 190, 0.9);
  z-index: 11;
  text-align: center;
  left: 0px;
  line-height: 121px;
  color: #fff;
}

#spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 10px;
}

.calendario {
  position: fixed;
  right: 0px;
  width: 120px;
  bottom: 0px;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  &__title {
    color: @tr-giallo;
  }
  &__giorno {
    font-weight: 700;
    font-size: 3em;
  }
  &__data {
    font-size: 1.4em;
    font-weight: 300;
  }
}

.stato-spedizione{
  background-color: #4269BB;
  text-align: center;
  padding: 5px;
  .border-radius(5px);

  .statoSpedizione(){
    display: inline-block;
    background-color: @tr-giallo;
    color: #51430a;
    width: 70%;
    padding: 5px;
    .border-radius(5px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &__label{
    background-color: #325397;
    color: #fff;
    float: left;
    width: 30%;
    padding: 5px;
    .border-radius(5px);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &__stato{
    .statoSpedizione();
  }
  &__consegnata{
    .statoSpedizione();
    color: #0B500B;
    background-color: #8FE357;
  }
}

#empty-filter {
  font-weight: 700;
  text-align: center;
  padding: 50px;
  color: #7088af;
  font-size: 2em;
}

.cliente-username {
  cursor: pointer;
}

#spedizione .container-fluid {
  clear: both;
}

#spedizione-data {
  padding-top: 30px;
}

#spedizione-data .tipo {
  color: #7088af;
  margin-bottom: 2px;
}

#spedizione-data .data {
  font-size: 2em;
  font-weight: 300;
}

#spedizione-data .row:first-child {
  margin-top: 0px;
}

#spedizione-data .row {
  margin-top: 30px;
}

#spedizione #tracking {
  background-color: @tr-arancio;
  margin-top: 30px;
  color: #fff;
  padding-bottom: 30px;
}

#spedizione #tracking .titolo {
  padding-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

.succ-close{
  color: #fff;
}

.daticliente{
  &__dato{
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    color: #466299;
    &:first-child{
      margin-right: 10px;
    }
  }
  &__tipo{
    font-weight: normal;
    font-size: .8em;
    color: #466299;
  }
  &__titolo{
    color: #7088af;
  }
}

.actual__username{
  font-size: 1.5em;
}

#tracking-table {
  thead {
    background-color: darken(@tr-arancio, 10%);
  }
  thead th {
    border-bottom: 2px solid darken(@tr-arancio, 11%);
  }
  td {
    border-bottom: 1px solid darken(@tr-arancio, 5%);
  }
}

@media (min-width: @screen-lg) {
    .spedizione__item{
      text-align: center;
    }

    #spedizione #tracking .titolo {
      font-weight: 300;
      margin-bottom: 30px;
    }

    #spedizione #tracking {
      position: absolute;
      height: 100%;
      right: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
    }

    .selfilter{
      min-height: 43px;
    }
}