@import "transitalia.less";

.spedizione{
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:first-child{
    margin-top: 40px;
  }
  &:last-child{
    margin-bottom: 40px;
  }
  &_errors{
    cursor: default;
  }
}

.spedizione__section{
  font-weight: 600;
  margin-top: 60px;
  &_top{
    text-align: center;
  }
  &:first-child{
    margin-top: 0px;
  }
  &:last-child{
    margin-bottom: 10px;
  }
  &_dest{
    margin-top: 40px;
  }
}

.spedizione-item{
  &_dest{
    font-size: 2em;
    font-weight: 900;
    text-align: left;
    margin-left: 30px;
    .spedizione_errors & {
      margin-left: 0px;
    }
  }
  &_date{
    padding: 15px;
    .spedizione_errors & {
      padding: 0px 15px;
    }
  }
  &__data{
    display: inline;
  }
  &_colli{
    width: 35%;
    padding-left: 100px;
    .spedizione_errors & {
      padding-left: 15px;
    }
  }
  &_place{
    padding-left: 70px;
    .spedizione_errors & {
      padding-left: 15px;
    }
  }
  &__errddt{
    font-size: 1.4em;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 50%;
    .spedizione-item__data {
      float: left;
    }
  }
  &__errstato{
    float: none;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
  }
  &__nr{
    margin: 0 0 20px;
  }
}

.spedizione-icon{
  float: left;
  margin-right: 3px;
  &__marker, &__label, &_top{
    color: #7088AF;
  }
  &__marker{
    float: left;
  }
  &__marker, &_top{
    font-size: 1.4em;
    margin-right: 10px;
  }
  &_top{
    float: none;
  }
}

.stato-spedizione_list{
  background: none;
  .stato-spedizione__label{
    width: 20%;
    padding: 10px;
    font-size: 1em;
    .spedizione_errors & {

    }
  }
  .stato-spedizione__stato{
    width: 80%;
    padding: 10px;
    font-weight: 400;
    font-size: 1em;
  }
  .spedizione-item__errstato & {
    padding: 0;
  }
}

.errors-list{
  background-color: @tr-red;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  &__caption{
    font-weight: bold;
  }
  &__main{
    padding: 15px;
  }
  &__btmbutton{
    background-color: #CB3721;
    &:hover{
      background-color: lighten(#CB3721, 5%);
    }
  }
}