@import "variables.less";
@import "mixins.less";

@tr-giallo: #ffd940;
@tr-giallo-fontcolor: #685402;
@tr-blu: #3159ad;

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@value) {
  -webkit-box-shadow: @value;
  -khtml-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.form-control{
  .border-radius(5px);
}

.btn-login{
  background-color: @tr-giallo;
  color: @tr-giallo-fontcolor;
  .border-radius(5px);
  font-weight: 400;
  &:hover, &btn-login:focus{
    background-color: darken(@tr-giallo, 10%);
    color: @tr-giallo-fontcolor;
  }
  .login-form__column_right &:hover{
    background-color: darken(@tr-giallo-fontcolor, 5%);
  }
  .login-form__column_right &:focus{
    background-color: darken(@tr-giallo-fontcolor, 5%);
  }
}

body{
  color: #fff;
  background-color: #E9EDF5;
}

@media (min-width: @screen-md) {

  #overlay{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
  }

  .content{
    position: absolute;
    text-align: right;
    right: 80px;
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
  }

  .login-form{
    position: absolute;
    width: 70%;
    border-radius: 8px;
    overflow: hidden;
    height: 500px;
    left: 50%;
    top: 150px;
    margin-left: -35%;
    -moz-box-shadow:    0px 0px 7px 2px #ccc;
    -webkit-box-shadow: 0px 0px 7px 2px #ccc;
    box-shadow:         0px 0px 7px 2px #ccc;
    &__title{
      margin-top: 0px;
      .login-form__column_right & {
        text-align: right;
      }
      .login-form__column_left & {
        text-align: center;
      }
    }
    &__sub {
      margin-bottom: 56px;
      .login-form__column_left &  {
        padding: 0 40px;
        margin: 56px 0;
        text-align: center;
      }
      .login-form__column_right & {
        text-align: right;
        margin-top: 30px;
      }
    }
    &__column{
      height: 100%;
      &_left{
        background-color: @tr-blu;
        width: 60%;
        padding: 30px 100px;
      }
      &_right{
        width: 40%;
        background-color: @tr-giallo;
        padding: 30px 50px;
        color: @tr-giallo-fontcolor;
      }
    }
  }

  .btn-login{
    margin-top: 20px;
    padding: 10px 50px;
    .login-form__column_right &{
      background-color: @tr-giallo-fontcolor;
      color: @tr-giallo;
    }
  }
}